body {
  background-color: #eee;
}
.ng-enter {
  -webkit-transitionn: 0.75s;
  -moz-transitionn: 0.75s;
  -o-transitionn: 0.75s;
  transition: 0.75s;
  opacity: 0;
}
.ng-enter-stagger {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 1;
}
.ng-leave-active {
  opacity: 0;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.navbar {
  background-color: #222323;
  margin: 0 2px 20px 4px;
  border: 1px solid #9D9D9D;
}
.navbar .navbar-brand {
  height: auto;
}
.navbar .navbar-brand > img {
  height: 40px;
}
.navbar button.close {
  margin-top: 22px;
  padding: 2px 6px;
  border: 2px solid #222323;
}
footer {
  position: fixed;
  bottom: 0;
  min-height: 80px;
  background-color: #222323;
  width: 100%;
  color: #eee;
  padding: 10px 0 15px;
  text-align: center;
}
footer .nav-pills {
  margin: 0 auto;
  width: 280px;
}
footer .nav-pills > li {
  margin: 0;
  border-right: 1px solid #eee;
}
footer .nav-pills > li > a {
  color: #eee;
  border-radius: 0;
  padding: 0 5px;
}
footer .nav-pills > li > a:hover,
footer .nav-pills > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}
footer .nav-pills li:last-child {
  border-right-width: 0;
}
@media all and (max-width: 1204px) {
  footer {
    position: relative;
  }
}
@media all and (max-width: 699px) {
  footer {
    position: relative;
  }
  footer .nav-pills {
    float: left;
    margin: 0 auto;
    width: 96%;
  }
  footer .nav-pills > li {
    margin: 10px;
  }
}
main h1,
main p.center {
  text-align: center;
}
main .graphic-container .well.wrapper,
main .text-container .well.wrapper {
  background-color: #fff;
  height: 600px;
}
main .text-container .well {
  height: 600px;
  overflow-y: scroll;
}
main .text-container .well .text-line {
  padding-left: 5px;
}
main .text-container .well .text-line:hover,
main .text-container .well .text-line:focus {
  background-color: #222323;
  color: #fff;
}
main .text-container .well .text-line:first-child {
  font-size: 20px;
  font-weight: 900;
  display: block;
  width: 100%;
  padding-left: 0;
  text-align: center;
}
main .text-container .well .text-line:nth-child(2) {
  font-style: italic;
  font-weight: 700;
  display: block;
  width: 100%;
  padding-left: 0;
  text-align: center;
}
main .text-container .well .text-line:nth-child(3) {
  padding-left: 0;
}
main .graphic-container .well {
  text-align: center;
  padding: 20px 5px;
  background-color: #dad7d7;
}
main .graphic-container .well img {
  height: 100px;
  padding: 10px;
  border-radius: 10px;
}
main .graphic-container .well p {
  margin: 10px 0;
  color: #222323;
  font-weight: 700;
}
main .graphic-container .well .progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
main .graphic-container .well .progress-bar {
  height: 12px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
main .graphic-container .well .anger .progress-bar,
main .graphic-container .well .anger img {
  background-color: #9e0202;
}
main .graphic-container .well .sad .progress-bar,
main .graphic-container .well .sad img {
  background-color: cadetblue;
}
main .graphic-container .well .joy .progress-bar,
main .graphic-container .well .joy img {
  background-color: forestgreen;
}
main .graphic-container .well .fear .progress-bar,
main .graphic-container .well .fear img {
  background-color: orange;
}
main .graphic-container .well .disgust .progress-bar,
main .graphic-container .well .disgust img {
  background-color: darkgoldenrod;
}
